body{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    max-width: 420px;
    max-height: fit-content;
    background-color: #000000d0;
    padding: 2em;
    margin: 1em;
    color: white;
    border-radius: 30px ;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}
.flex{
    display: flex;
    align-items: center;
}

.flex .description {
    margin-bottom: 0p;
}

.celcius{
    margin: 0;
}

.weatherImg{
    height: max-content;
    width: max-content;
}

.search input[type="text"]{
   border: none;
   outline: none;
   padding: 0.5em 1em;
   border-radius: 24px;
   background-color: #7c7c7c2b;
   color: white;
   font-family: inherit;
   font-size: 120%;
   width: calc(100% - 80px);
}

::placeholder {
    color: #afafaf;
}

.search button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    background-color:#7c7c7c2b;
    color: white;
    cursor: pointer;

}

.search button:hover {
    background-color : #7c7c7c6b;
    transition:  0.2s ease-in-out;
}

.box{
    display: block;
    flex-direction: column;
    font-size: 20px;
    font-family: inherit;
}